<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="baner">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <img width="100px" src="/images/bg3.png" alt="">
                </div>
                <div style="width: 400px">
                    <div class="search-box d-flex">
                        <input type="text" class="flex-grow-1">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="header-phone">
                    <div class="text">
                        <label>Support</label>
                        <p>0969696969</p>
                    </div>
                </div>
                <div class="shopping-cart-box">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>1</span>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar">
        <div class="container">

        </div>

    </nav>
    <nav id="navbar-toggle" class="navbar">
            <div class="container">

            </div>
    </nav>


</header>

    <!--Navbar-->
    <!--/.Navbar-->

<!--Carousel Wrapper-->
<div class="container slide-show mt-5">
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                </div>
                <div class="title-slide-show">
                    <h3 class="h3-responsive animated rotateInDownRight">Light mask</h3>
                    <p>First text</p>
                    <a class="btn btn-primary" href="">Shop Now</a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                </div>
                <div class="title-slide-show">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                    <a class="btn btn-primary" href="">Shop Now</a>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                </div>
                <div class="title-slide-show">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                    <a class="btn btn-primary" href="">Shop Now</a>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
</div>
<!--/.Carousel Wrapper-->

<!--Google Maps-->
<footer>

</footer>
<script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/popper.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/mdb.min.js"></script>
<script type="text/javascript" src="/js/myjs.js"></script>
</body>
</html>

