
.up {
    position: fixed;
    right: 1%;
    bottom: 3%;
}

.side-nav {
    background: #ffffff;
    height: 98vh;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #000;

}

.side-nav .social .fa {
    color: #000;
}

.side-nav .collapsible a {
    color: #000;
}

.navbar {
    box-shadow: none;
    transition: 1s;
    background: none !important;
}

.navbar:hover {
    background: none !important;
}

.double-nav a {
    color: black;
}

.bg-navv {
    float: right;
    margin-left: 16rem;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

@media only screen and (max-width: 1440px) {
    .bg-navv {
        margin-left: 0;
    }
}

.form-inline .md-form .form-control.mdb-autocomplete, .side-nav {
    color: #000 !important;
}

.img-user {
    width: 128px;
    height: 128px;
}

p {
    margin: 0;
}

.carousel-caption {
    bottom: 40%;
    transform: translateY(-50%);
}

.header1 {
    height: 100px;
}

.sreach {
    padding-left: 10px;
    height: 38px;
    width: 500px;
    background: rgba(15, 36, 10, 0.07);
    border: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: 5%;
}

#audio_player button:hover {
    transform: scale(1.1);

}

.social-items {
    padding: 2px;
    background: rgba(255, 255, 255, 0);
    transform: translateX(80px);
    transition: .5s;
}

.social-items i {
    font-size: 26px;
}

.social-items:hover {
    z-index: 9999;
    transform: translateX(0px) scale(1.1);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spin {
    border: 1px solid black;
    z-index: 9999;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(-45deg)
    }
    to {
        transform: rotate(-405deg)
    }
}

.audio-bar {
    border-radius: 38.5px;
    /*border: 2px solid black;*/
}
.song-title{
    height: 77px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.thumb {
    margin-left: 0 !important;
}

input[type=range] + .thumb {
    margin-left: 0;
}

progress {
/ / float: left;
    overflow: hidden;
    color: #75ff36;
    font-size: 12px;
    width: 220px;
    height: 12px;
    border: none;
    margin-right: 10px;
    background: #434343;
    border-radius: 9px;
/ / vertical-align: middle;
}

progress::-moz-progress-bar {
    color: rgba(84, 255, 66, 0.95);
    background: #434343;
}

progress[value]::-webkit-progress-bar {
    background-color: #c2c0c2;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #1ab5ff;
}

.sociall {
    position: fixed;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: 9999;
}

.side-nav .collapsible .fa {
    font-size: 1rem;
    color: gray;
}

.side-nav .collapsible a {
    font-size: 1rem;
    color: gray;
}

.double-nav a {
    font-size: 1rem;
}

/*.bg{*/
/*height: 100vh;*/
/*position: fixed;*/
/*z-index: -9999;*/
/*width: 100vw;*/
/*background: url("../img/bg2.jpg") no-repeat;*/
/*background-size: cover;*/
/*background-position: center;*/
/*}*/
@media (max-height: 992px) {
    .side-nav .logo-wrapper, .side-nav .logo-wrapper a {
        height: 160px;
    }
}

footer {
    height: 100px;
}

@media (max-width: 835px) {
    .d-hd {
        display: none;
    }

    .sociall {
        display: none;
    }
}
select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     display: block !important;
}
.md-form i{
    color: #000 !important;
}
/*.md-form label {*/
    /*font-size: .8rem;*/
    /*-webkit-transform: translateY(-140%);*/
    /*-ms-transform: translateY(-140%);*/
    /*transform: translateY(-140%);*/
/*}*/
input[type="file"]::-webkit-file-upload-button{
    cursor: pointer;
    background: #0d5bdd;
    border: none;
    border-radius: 10px;
    outline: none;
}
/*input[type="file"]{*/
    /*display: none;*/
/*}*/