/*///////////Baner/////////////*/
.baner{
    height: 100px;
    width: 100%;
    background-color: #3a9943;

}
.header-phone {
}

.header-phone .text {
    text-align: left;
    padding-left: 52px;
    background: url(../images/icon-header-phone.png) left center no-repeat;
}

.header-phone .text label {
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 0;
}

.header-phone .text p {
    margin: 0;
    color: #ffdd20;
    font-size: 18px;
    font-weight: 700;
}

.search-box{
    height: 40px;
    background-color: #62ae6c;
    border-radius: 5px;
}

.search-box input{
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    line-height: 40px;
}

.search-box i{
    font-size: 26px;
    margin: 7px;
    color: white;
}

.shopping-cart-box{
    border: 1px solid rgba(217,194,219,0.29);
    border-radius: 5px;
    padding: 7px;

}

.shopping-cart-box i{
    color: white;
    font-size: 28px;
}

.shopping-cart-box span{
    background-color: white;

}
/*///////////Baner/////////////*/


.navbar{
    height: 60px;
    background-color: white;
    opacity: .7;
}

#navbar-toggle{
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(-100px);
    height: 60px;
    z-index: 100;
}

.view{
    background-color: rgba(0,0,0,0.22);
    height: 600px;
}

.view img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.title-slide-show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.title-slide-show h3{
    font-size: 64px;
}

.carousel-indicators .active {
    background-color: #2e297a;
}

.carousel-indicators li {
    background-color: #f6edff;
}

footer{
    height: 500px;
}
