

.form-inline .md-form .form-control.mdb-autocomplete, .side-nav{
    color: #000 !important;
}
.img-user{
    width: 128px;
    height: 128px;
}
p{
    margin: 0;
}
.carousel-caption {
    bottom: 40%;

}
.header1{
    height: 100px;
}
.sreach{
    width: 500px;
    background: rgba(15,36,10,0.07);
}
button{
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: 5%;
}
button:hover{
    background-color: rgba(35,35,35,0.36);
}
.spin {
    border: 3px solid black;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(-45deg)
    }
    to {
        transform: rotate(-405deg)
    }
}
.audio-bar{
    border-radius: 35.5px;
}
progress {
//float: left;
    overflow: hidden;
    color: #75ff36;
    font-size: 12px;
    width: 220px;
    height: 12px;
    border: none;
    margin-right: 10px;
    background: #434343;
    border-radius: 9px;
//vertical-align: middle;
}
progress::-moz-progress-bar {
    color:rgba(84,255,66,0.95);
    background:#434343;
}

progress[value]::-webkit-progress-bar {
    background-color: #c2c0c2;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #1ab5ff;
}
